;; User keymap
;; -----------------------------
;; Keymaps are stored as a set of diffs that are merged together together
;; to create the final set of keys. You can modify these diffs to either add
;; or subtract bindings.
;;
;; Like behaviors, keys are bound by tag. When objects with those tags are active
;; the key bindings are live. Keys can be bound to any number of Light Table commands,
;; allowing you the flexibility to execute multiple operations together. To see a list
;; of all the commands you can execute, start typing a word related to the thing you
;; want to do in between the square brackets (e.g. type "editor").

{:+ {:app {"ctrl-pageup" [:tabs.next]
           "ctrl-pagedown" [:tabs.prev]
           "ctrl-e" [:workspace.show]
           "alt-x" [:show-commandbar-transient]
           "ctrl-shift-\\" [:tabset.close]
           "ctrl-\\" [:tabset.new]
           "alt-up" [:tabset.next]
           "alt-down" [:tabset.prev]
           "alt-shift-up" [:tabs.move-next-tabset]
           "alt-shift-down" [:tabs.move-prev-tabset]
           "ctrl-m" [:toggle-console]}

     :editor {"alt-w" [:editor.watch.watch-selection]
              "alt-shift-w" [:editor.watch.unwatch]
              "alt-s" [:smart-indent-selection]
              "ctrl-/" [:toggle-comment-selection]
              "ctrl-;" [:toggle-comment-selection]
              "ctrl-d" [:editor.doc.toggle]
              "ctrl-alt-d" [:editor.jump-to-definition-at-cursor]
              "alt-left" [:editor.unjump]
              "ctrl-shift-c" [:clear-inline-results]}}}
